* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 8px;
  border: transparent;
}
body {
  user-select: none;
  font-family: "Poppins", sans-serif;
}
.bgcard {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}
.searchbox {
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 40px;
  min-width: 250px;
  z-index: 2;
}
.searchbox input {
  position: absolute;
  right: 0;
  top: 0;
  height: 36px;
  width: 100%;
  border-radius: 36px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  padding-left: 0.5rem;
  padding-right: 2.5rem;
  color: #fff;
}
.searchbox button {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbox button img {
  height: 50%;
  width: 50%;
}
::placeholder {
  color: rgb(204, 204, 204);
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.weatherCard {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 1rem 0;
}
.psuedoWeatherCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}
.weatherCard h3 {
  font-weight: unset;
}
.weatherCard .current {
  display: flex;
  width: 20%;
  height: 5rem;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5rem;
}
.weatherCard .current .icon img {
  height: 5rem;
  width: 5rem;
}
.weatherCard .current h1 {
  font-size: 5rem;
  font-weight: unset;
}
.psuedoWeatherCard > p {
  margin: 0.5rem 0 1rem 0;
  font-weight: bold;
}
.info {
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}
.info span {
  margin-left: 4px;
}
.info p {
  font-size: 0.75rem;
}
.floatLeft {
  margin-top: 2rem;
  width: 75%;
  padding: 0 2% 0 0;
  display: flex;
  justify-content: space-between;
}
.floatLeft button {
  height: 28px;
  width: 4rem;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  border: none;
  color: #fff;
  font-size: 0.6rem;
  cursor: pointer;
}
.floatLeft .btnactive {
  background-color: rgba(255, 255, 255, 0.1);
}
.hourly {
  width: 75%;
  height: 250px;
  margin-top: 1rem;
  display: flex;
  position: relative;
}
.hourly .hourlybar {
  position: relative;
  width: 4%;
  height: 100%;
  pointer-events: none;
}
.hourly .hourlybar .bar {
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  pointer-events: all;
  height: 0px;
  transition: 0.2s;
}
.hourly .hourlybar p {
  position: absolute;
  left: 50%;
  width: 100%;
  text-align: center;
  opacity: 0.2;
  transition: 0.2s;
  font-size: 0.5rem;
}
.hourly .hourlybar .bar:hover ~ p {
  opacity: 1;
  transform: scale(1.05);
}
.graphly {
  width: 75%;
  height: 250px;
  margin-top: 1rem;
  padding: 0 1%;
  position: relative;
}
.graphly .absolutegraphlybar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
}
.graphly .absolutegraphlybar .graphlybar {
  position: relative;
  width: 4%;
  left: 2%;
  height: 100%;
}
.graphly .absolutegraphlybar .graphlybar p {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0.4;
  transition: 0.2s;
  font-size: 0.5rem;
  bottom: 0;
}
.currenthour {
  width: 2px;
  height: 100%;
  position: absolute;
  bottom: 6px;
  left: 2%;
  transform: translateX(-50%);
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  transition: 0.2s;
  cursor: pointer;
}
.currenthour:hover {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
}
.currenttime {
  position: fixed;
  top: 90vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.1rem 0.25rem;
  border-radius: 5px;
  transition: 0.2s;
  opacity: 0;
  z-index: 3;
}
.currenttime p {
  font-size: 0.5rem;
}
.hourlytime {
  display: flex;
  width: 75%;
  justify-content: space-around;
  padding: 0 2%;
  font-size: 12px;
}
.days {
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.days .daycard {
  width: 150px;
  height: 100%;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.days .daycard .daycardImage {
  height: 48px;
  width: 100%;
  margin: 0.5rem 0;
  position: relative;
}
.days .daycard .daycardImage img {
  height: 48px;
  width: 48px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.days .daycard .daycardHiLow p {
  font-size: 1.25rem;
}
.days .daycard .daycardHiLow p span {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 0.5rem;
}
.days .daycard .daycardDesc p {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}
.daydetails {
  width: 75%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
.daydetails p {
  font-size: 0.75rem;
}
.daydetails .gridCard {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.daydetails .gridCard .gridCardColumn {
  width: 50%;
}
.daydetails .gridCard .gridCardColumn > p {
  text-align: center;
}
.daydetails .gridCard .gridCardColumn .detailsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}
.daydetails .gridCard .gridCardColumn .detailsInfo img {
  height: 36px;
  width: 36px;
}
.moonphase {
  grid-column-end: span 2;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.moonphase > p {
  text-align: center;
}
.moonphase p:nth-child(3),
.detailsInfo > p {
  margin-top: 0.5rem;
}
.moonphase .moonPhasesImages {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}
.moonphase .moonPhasesImages .phaseImg {
  opacity: 0.3;
}
.moonphase .moonPhasesImages .opaque {
  opacity: 1;
}
.moonphase .moonPhasesImages .phaseImg img {
  height: 36px;
  width: 36px;
}
@media screen and (max-width: 768px) {
  .weatherCard {
    padding-top: 4rem;
  }
  .weatherCard .current {
    width: 40%;
  }
  .info {
    width: 75%;
  }
  .floatLeft,
  .hourly,
  .hourlytime,
  .days,
  .daydetails,
  .graphly {
    width: 95%;
    padding: 0;
  }
  .hourly .hourlybar p {
    font-size: 0.3rem;
    opacity: 0;
  }
  .graphly .absolutegraphlybar {
    display: none;
  }
  .daydetails {
    grid-template-columns: repeat(2, 1fr);
  }
  .searchbox {
    width: 100%;
    top: 0;
    right: 0;
    height: 60px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
  .searchbox input {
    width: calc(100% - 2rem);
    top: 0.75rem;
    right: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
  }
  .searchbox button {
    top: 0.75rem;
    right: 1rem;
  }
  .days .daycard {
    border-radius: 0;
  }
  .days .daycard:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }
}
@media screen and (max-width: 376px) {
  .info {
    width: 95%;
  }
}
